# Environment files
.env
.env.*
!.env.example

# macOS
.DS_Store

# Xcode user data
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcuserdatad/

# Xcode build artifacts
build/
DerivedData/

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
